:root[data-theme="theme-dark"] {
    --color: rgb(216, 216, 216);
    --color_near: rgb(49, 49, 49);
    --background-color: rgb(17, 17, 17);
    --h_color: rgb(242, 242, 242);
    --inv: invert(100%);
    --shadow: 0 0 0 rgba(0, 0, 0, 0);
}
