:root[data-theme="theme-light"] {
    --color: rgb(5, 5, 5);
    --color_near: rgb(225, 225, 225);
    --background-color: rgb(250, 250, 250);
    --h_color: rgb(5, 5, 5);
    --inv: invert(0%);
    --shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
