{% extends "base.html" %}

{% block content %}
<div class="container" style="width: 80%;
    margin: 0 auto; position:relative">
    <div class="content_container">
        <div class="simple_text">
            &emsp;Сайт представляет собой информационный портал компании ОАО ПОДЗЕМСТРОЙ, производящей и монтирующей
            подземные сооружения: исследовательские комплексы, хранилища, административные центры.
        </div>
        <div class="about_author">
            <div class="about_author_list">
                <div class="about_author_block"><h3>Общая информация</h3>
                    <div class="about_author_text">
                        Возраст: 17 лет<br>
                        Телефон: 8-905-050-77-41<br>
                        E-mail: vip.zatebe@mail.ru<br>
                    </div>
                </div>
                <div class="about_author_block"><h3>Образование</h3>
                    <div class="about_author_work_experience">
                        <div class="row">
                            <div class="period">
                                01.09.2021г. – по настоящее время.
                            </div>
                            <div class="info">
                                ФГБОУ ВО Воронежский государственный университет, 1курс<br>
                                Факультеты:<br>
                                &emsp;Компьютерных наук<br>
                                &emsp;Прикладной математики, механики и информатики.
                            </div>
                        </div>
                        <div class="row">
                            <div class="period">
                                2019 - 2021гг.
                            </div>
                            <div class="info">
                                2-х годичное очное обучение в Yandex-Лицей:<br>
                                &emsp;«Основы программирования и на языке Python» и «Основы промышленного
                                программирования»
                            </div>
                        </div>
                        <div class="row">
                            <div class="period">
                                2019 - 2020гг.
                            </div>
                            <div class="info">
                                Очное обучение по программе IT School Samsung:<br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about_author_block"><h3>Профессиональный опыт и навыки</h3>
                    <div class="about_author_text">
                        Java, С/С++, Python<br>
                        Английский (Intermediate)<br>
                    </div>
                </div>
            </div>
            <div class="about_author_image_block">
                <h3>Фото</h3>
                <img src="{{url_for('static', filename='assets/photo.jpg')}}" alt="photo">
            </div>
        </div>
    </div>
</div>
{% endblock %}