<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=6fbbac3f-f88d-4d13-b6c0-dcfb9e2829bd&lang=ru_RU"
            type="text/javascript">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="static/js/theme_switcher.js"></script>
    <script src="static/js/map.js"></script>
    <script src="static/js/scroll_util.js"></script>
    <link rel="stylesheet" href="static/css/dark.css">
    <link rel="stylesheet" href="static/css/light.css">
    <meta charset="UTF-8">
    <title>ОАО ПОДЗЕМСТРОЙ</title>
</head>
<body>
<div class="page">
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">ОАО ПОДЗЕМСТРОЙ</div>
                <nav id="nav">
                    <a class="nav_link" href="index.html#about">О НАС</a>
                    <a class="nav_link" href="index.html#price">ЦЕНЫ</a>
                    <a class="nav_link" href="index.html#find_us">ГДЕ МЫ НАХОДИМСЯ</a>
                    <button id="theme_switcher" onclick="toggleTheme()"><img id="theme_switcher_icon"
                                                                             src="assets/theme_switcher/icon.svg">
                    </button>
                </nav>
            </div>
        </div>
    </header>
    <div class="intro_splash">
        <div class="intro_splash_text">
            ОАО ПОДЗЕМСТРОЙ
            <br>
            Ваш гарант безопасности
        </div>
    </div>
    <div class="container">
        <div class="text_in_development">Changes:<br>Адаптивность: при просмотре с маленького экрана(700px) часть контента менят положение<br>Карта: средствани библиотеки ymaps от Yandex была реализована возможность просматривать карту<br>js, cookies и night mode: была добавлена тёмная тема. текщий режим сохранятеся в куки и будет удалён автоматически спустя 7 дней.<br>Minor changes: обновление галереи, скрипт для скролла и прочие улучшения</div>
        <div class="content_container" id="about">
            <h3>Исследовательские комплексы, хранилища, административные центры</h3>
            <div class="simple_text">
                &emsp;В первую очередь, комплексы компании ОАО Подземстрой предназначены для выполнения в них задач
                особой важности, таких как хранение драгметаллов или ценных документов<br><br>
                &emsp;Комплексы компании ОАО Подземстрой можно монтировать в любой местности, любой точки мира.
                Они обеспечены всеми инженерными системами для выполнения поставленной задачи на длительное время, а
                также системой
                вентиляции жилых отсеков, которая обеспечивает защиту от вирусов, радиации, дыма и других угроз для
                жизни.<br><br>
                &emsp;Подземные сооружения компании ОАО Подземстрой первые в России, которые монтируются от 2 дней. Мы
                просто
                привозим вам готовую структуру и быстро её устанавливаем на заранее заготовленную поверхность.
            </div>
        </div>
        <div class="content_container">
            <h3>Наши проекты</h3>
            <div class="gallery">
                <a href="assets/bunkers_for_gallery/bunker1.jpg"><img src="assets/bunkers_for_gallery/bunker1.jpg"
                                                                      alt="bunker1"></a>
                <a href="assets/bunkers_for_gallery/bunker2.jpg"><img src="assets/bunkers_for_gallery/bunker2.jpg"
                                                                      alt="bunker2"></a>
                <a href="assets/bunkers_for_gallery/bunker3.jpg"><img src="assets/bunkers_for_gallery/bunker3.jpg"
                                                                      alt="bunker3"></a>
                <a href="assets/bunkers_for_gallery/bunker4.jpg"><img src="assets/bunkers_for_gallery/bunker4.jpg"
                                                                      alt="bunker4"></a>
                <a href="assets/bunkers_for_gallery/bunker5.jpg"><img src="assets/bunkers_for_gallery/bunker5.jpg"
                                                                      alt="bunker5"></a>
            </div>
        </div>
        <div class="content_container" id="price">
            <h3>Ориентировочные тарифные планы</h3>
            <div class="price_list">
                <div class="tariff">
                    <h3>Minimal</h3>
                    <simple_text></simple_text>
                    <div class="price">10000$+</div>
                </div>
                <div class="delimiter"></div>
                <div class="tariff">
                    <h3>Standard</h3>
                    <simple_text></simple_text>
                    <div class="price">30000$+</div>
                </div>
                <div class="delimiter"></div>
                <div class="tariff">
                    <h3>Premium</h3>
                    <simple_text></simple_text>
                    <div class="price">70000$+</div>
                </div>
            </div>
        </div>
        <div class="content_container" id="request">
            <h3>Определились с планом? Тогда свяжитесь с нашим менеджером</h3>
            <div class="request">
                <div class="text_in_development">Связь с менеджером будет добавлена с подключением серверного языка и
                    технологии Web Socket I/O
                </div>
            </div>
        </div>
        <div class="content_container" id="find_us">
            <h3>Будем рады видеть Вас в наших офисах</h3>
            <div class="map" id="map">
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer_block">
            <a class="nav_link" href="about_author.html">
                <simple_text>Об авторе</simple_text>
            </a>
        </div>
        <div class="footer_block">
            <simple_text>Связаться с нами</simple_text>
            <div class="footer_block_social_container">
                <div class="footer_block_social_element">
                    <a href="https://vk.com/felixdes64"><img style="height: 3vh; width: 3vh"
                                                             src="assets/vk-logo.svg" alt="vk"></a>
                </div>
                <div class="footer_block_social_element">
                    <a href=""><img style="height: 3vh; width: 3vh" src="assets/twitter-logo.svg" alt="twitter"></a>
                </div>
                <div class="footer_block_social_element">
                    <a href="mailto:vip.zatebe@mail.ru"><img style="height: 3vh; width: 3vh"
                                                             src="assets/mail-logo.svg" alt="mail"></a>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>