{% extends "base.html" %}

{% block content %}

<div class="make_request">
    <h1>Оставьте заявку</h1>
    <form action="" method="post">
        <div>
            {{ form.csrf_token }}
        </div>
        <p class="input_label">
            {{ form.text(class="input", type="text", placeholder=form.text.label.text) }}<br>
        </p>
        {% for error in form.text.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        <p>{{ form.submit(type="submit", class="submit_btn") }}</p>
        {{message}}
    </form>
</div>
{% endblock %}