{% extends "base.html" %}

{% block content %}

<div class="make_request">
    <h1>Оставьте заявку</h1>
    <form action="" method="post">
        <div>
            {{ form.csrf_token }}
        </div>
        <p class="input_label">
            {{ form.text(class="form-control", class="form-control input", type="text", placeholder=form.text.label.text) }}<br>
        </p>
        {% for error in form.text.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <p class="register_submit">{{ form.submit(type="submit", class="btn btn-primary submit_btn") }}</p>
        {{message}}
    </form>
</div>
{% endblock %}