{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="registration_login">
        <h1>Регистрация</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email(class="input", type="email", placeholder=form.email.label.text) }}<br>
                {% for error in form.email.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.password(class="input", type="password", placeholder=form.password.label.text) }}
                <i id="togglePassword"></i> <br>
                {% for error in form.password.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.password_again(class="input", type="password",
                placeholder=form.password_again.label.text) }}<br>
                {% for error in form.password_again.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.name(class="input", placeholder=form.name.label.text) }}<br>
                {% for error in form.name.errors%}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="submit_btn") }}</p>
            {{message}}
        </form>
    </div>
</div>
{% endblock %}